@import './Layout.module.css';
.input {
    border-radius: 15px;
    background-color: var(--color-gray);
    padding: 15px;
    border: 1px solid transparent;
    transition: border 0.5s ease;
    min-width: 200px;
}

.input:focus {
    outline-style: none;
    outline: none;
    background-color: white;
    border: 1px solid var(--color-primary);
}