.dark {
    --color-back: #1E1E1E;
    --color-primary: #4078C0;
    --color-text: #fff;
    --color-opposite: #1E1E1E;
    --color-gray: #4A4B4B;
    color: #fff;
}

.light {
    --color-text: #1E1E1E;
    --color-back: #fff;
    --color-primary: #4078C0;
    --color-opposite: #fff;
    --color-gray: #F1F2F2;
    color: #1E1E1E;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 80px 80px 40px;
    min-height: calc(100vh - 220px);
}

@media only screen and (max-width: 1000px) {
    .content {
        padding: 20px 30px;
    }
}