@import url("./Layout.module.css");
.mode {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 40px;
    height: 40px;
    z-index: 5;
    border-radius: 50%;
    right: 30px;
    bottom: 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, background-color 0.5s;
    transform-origin: center;
    background-color: var(--color-primary);
}

.mode.dark {
    transform: rotate(-180deg);
    background-color: rgb(229, 225, 225);
    transform-origin: center;
    color: var(--color-text);
}

.mode.dark svg {
    transform: rotate(180deg);
}