@import '../shared/Layout.module.css';
.heroDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    color: var(--color-text);
}

.heroDescription h1 {
    font-weight: 700;
    font-size: 60px;
}

.heroDescription p {
    font-size: 25px;
}