@import '../shared/Layout.module.css';
.heroDescription {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    color: var(--color-text);
    min-height: 100%;
}

.heroDescription h1 {
    font-weight: 700;
    font-size: 60px;
}

.heroDescription p {
    font-size: 25px;
}