.more {
    background-color: var(--color-back);
    border-radius: 20px;
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    pointer-events: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.description .socials>div {
    margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .more {
        max-width: 70vw;
        flex-direction: column-reverse;
    }
}