.dark {
    --color-back: #1E1E1E;
    --color-primary: #4078C0;
    --color-text: #fff;
    --color-opposite: #1E1E1E;
}

.light {
    --color-text: #1E1E1E;
    --color-back: #fff;
    --color-primary: #4078C0;
    --color-opposite: #fff;
}

.content {
    margin-top: 100px;
    padding: 80px 80px 40px;
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 1000px) {
    .content {
        padding: 20px 30px;
    }
}