@import './Layout.module.css';
.navContainer {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-text);
}

.navbar {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.background {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 250px;
    background: rgba(64, 120, 192, 0.6);
    border-radius: 50px;
    transform: rotate(21.01deg) translateX(-180px) translateY(-120px);
}

.navbar .title {
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.links a {
    margin-left: 20px;
    font-weight: 700;
}

.navbar .outer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #4078C0;
    display: flex;
    align-items: center;
}

.navbar .inner {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #4078C0;
    cursor: pointer;
    position: relative;
    z-index: 6;
}

.navbar .outer .inner.opened {
    transform: scale(100);
    animation: out 0.5s ease-in;
}

.navbar .outer .inner.closed {
    transform: scale(1);
    animation: in 0.5s ease-in;
}

.navbar .inner:hover,
.navbar .outer:hover .inner {
    transform: scale(0.5);
    transition: transform 0.3s ease-in;
}

@keyframes out {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(100);
    }
}

@keyframes in {
    0% {
        transform: scale(100);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1000px) {
    .navContainer {
        width: 100vw;
    }
    .navbar {
        padding: 20px 30px;
    }
    .navbar .title {
        color: var( --color-text);
    }
}