@import url("./components//shared//Layout.module.css");
a {
    text-decoration: none;
    color: inherit;
}

p {
    text-overflow: ellipsis;
    color: var(--color-note);
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.grid-2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.center-text {
    text-align: center;
}

.flex-1 {
    flex: 1;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.sm {
    display: none;
}

.lg {
    display: block;
}

.heading-1 {
    margin: 0;
    font-weight: 700;
    font-size: calc(40px + 1vmin);
}

.heading-2 {
    margin: 0;
    font-weight: 700;
    font-size: calc(25px + 1vmin);
}

.g-30 {
    gap: 30px;
}

.description {
    color: var(--color-gray);
}

.bold {
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    .sm {
        display: block;
    }
    .lg {
        display: none;
    }
    .grid-2 {
        grid-template-columns: 1fr;
    }
}